
* {
    margin: 0;
    padding: 0;

}
body {
    background-color: #fcdcdc;


  
}
  
.container {
    height: 480px;
    position: relative;
    width: 360px;
    margin: 8% auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    filter: drop-shadow(0 0 0.75rem black)
}
.headBox {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    margin-top: 15px;
    font-size: 32px;
    
}
.container form {
    height: 280px;
    width: 280px;
    position: absolute;
    top: 50px;
    left: 40px;
   

}
form input{
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    
    border: 0px;
    outline: none;
    border-bottom: 1px solid #7777;
    background: transparent;
}
button{
    
    width: 100%;
    margin: 30px auto;
    text-align: center;
}
form button {
    height: 35px;
    width: 110px;
   
    background: linear-gradient(to right,  #F23535,#d59090);
    border-radius: 30px;
    border: 0;
    margin-left: 85px;
    cursor: pointer;
    

}
a {
    text-decoration: none;
    color: black;
    font-size: large
;
}
